@font-face {
	font-family: Nunito;
	src: url('./assets/fonts/Nunito-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Nunito;
	src: url('./assets/fonts/Nunito-Bold.ttf');
	font-weight: 700;
}

@import 'tailwindcss';

/* Defining custom colours */
@theme {
	--color-myGray: #d9d9d9;
	--color-myLightGray: #f5f5f5;
	--color-myDarkGray: #a5a5a5;
	--color-myGreen: #33ba77;
	--color-myHoverGreen: #2a9e64;
	--color-myActiveGreen: #238553;
	--color-myRed: #ff5757;
	--color-myHoverWhite: #f3f4f6;
	--color-myActiveWhite: #e5e7eb;
}

/* Defining custom theme */
@theme {
	--font-nunito: Nunito, sans-serif;
}

.navbar-shadow {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.centered-flex {
	@apply flex justify-center items-center;
}

.input-field {
	@apply h-10 bg-myLightGray rounded-lg px-4;
}

.long-green-btn {
	@apply h-10 w-full rounded-lg bg-myGreen text-white hover:bg-myHoverGreen active:bg-myActiveGreen;
}
