@font-face {
	font-family: Nunito;
	src: url('./assets/fonts/Nunito-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: Nunito;
	src: url('./assets/fonts/Nunito-Bold.ttf');
	font-weight: 700;
}

@import 'tailwindcss';

/* Defining custom colours */
@theme {
	--color-myGray: #a5a5a5;
	--color-myLightGray: #f5f5f5;
	--color-myDarkGray: #d9d9d9;
	--color-myGreen: #33ba77;
	--color-myRed: #ff5757;
}

/* Defining custom theme */
@theme {
	--font-nunito: Nunito, sans-serif;
}

.navbar-shadow {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.centered-flex {
	@apply flex justify-center items-center;
}

.input-field {
	@apply h-[40px] bg-myLightGray rounded-lg px-4;
}
